.Rproj.user
.Rhistory
.RData
.Ruserdata
/tmp/

.idea
.vscode

/output/**
!output/README.md
!/output/example/*

/cache/**
!/cache/README.md
/reports/**
!/reports/README.md
/logs/**
!/logs/README.md

# Backup Files
*.swp
*.bk8
~*

*.docx
